<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjj.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zjj.entity.Student">
        <id column="sId" property="sid" />
        <result column="no" property="no" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="role_id" property="roleId" />
        <result column="isValid" property="isvalid" />
        <result column="clazzId" property="clazzid" />

        <result column="clzId" property="clzid" />
        <result column="clazz" property="clazz" />
        <result column="cId" property="cid" />
        <result column="collegesId" property="collegesid" />
        <result column="cname" property="cname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sId, no, name, password, age, sex, phone, role_id, isValid, clazzId, clzId, clazz, cId, collegesId, cname
    </sql>

    <select id="pageCC" resultType="com.zjj.entity.Student">
        select * from student, clazz, colleges
        where student.clazzId = clazz.clzId and clazz.cId = colleges.collegesId
        <if test="ew != null">
            <if test="ew.nonEmptyOfWhere">
                AND
            </if>
            ${ew.sqlSegment}
        </if>
    </select>

    <select id="pageC1" resultType="com.zjj.entity.StudentVO">
        select * from student, clazz, colleges
        where student.clazzId = clazz.clzId and clazz.cId = colleges.collegesId
        <if test="ew != null">
            <if test="ew.nonEmptyOfWhere">
                AND
            </if>
            ${ew.sqlSegment}
        </if>
    </select>
</mapper>
